.btn {
    border-radius: 10px;
    background-color: #6278F7;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 32px;
    margin: 16px 0;
    border: none;
    cursor:pointer;
}

.btn:hover {
    color: #95ffd4
}